@import "swiper/css";
@import "swiper/css/pagination";
@import "swiper/css/navigation";


.swiper-button-prev,
.swiper-button-next {
  color: #ede4e4;
  border: 1px solid rgb(0 0 0 / 0.3);
  border-radius: 50%;
  width: 32px;
  height: 32px;
  transition: all linear 0.2s;

  &:hover {
    transform: scale(1.1);
  }

  &::after {
    font-size: 12px;
    font-weight: 700;
  }
}
.item-song:hover{
  .bg-img{
    .bg-play{
      display: block;
    }
  }
}


